@import url('https://fonts.googleapis.com/css2?family=poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(21, 21, 22, 0.5);
    background-color: black;
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: fff !important;

}
#navbarSupportedContent a{
    color: #fff;
    border: 2px solid transparent;
    margin-right: 15px;
    padding-right: 20px;
    font-weight: 700;

}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid red;
    
}
#navbarSupportedContent button{
    background: #fff;
    color:black;
    border-radius: 15px;

}
#navbarSupportedContent button:hover{
    background: red;
}

section{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
#home{
    /* background: url(./images/choco\ 1.jpg); */
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
#home h1{
    font-size: 70px;
    font-weight: bolder;
    
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#about h1{
    font-weight: 700;

}
#about{
    background: #eb0b29;
}
#product h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
#product img{
    width: 200px;
    height: 200px;
}
.card{
    width: 250px;
    height: 300px;
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 5px 10px 10px rgba(0,0,0,.3),
                  inset 2px 2jpx 5px white;
    border-radius: 20px !important;
    overflow: hidden; 
    justify-content: center;   
    text-align: center;  
    margin: 20px 60px;       
}
.card-img-top{
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px;
}
.carousel-item :active{
    height: 100vh;
    min-height: 300px;
    width: 100%;
    background-size: cover;
}
.carousel-caption{
    bottom: 180px;
    padding-left: 100px ;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size: 70px;
    font-weight: bolder;
}
.carousel-caption P{
   font-size: 22px;
   top: 2rem;
}

#arun111{
    background-size: cover;
}
.arun31{
     display: block; 
     text-align: center;
     justify-content: center;
     margin-top: -180px;
}
#variety{
    background: rgb(241, 98, 15);
    /* background-size: cover; */
    width: 1450px;

}
#arun300{
    text-align: justify;
    justify-content: center;
}
.card-title{
    font-weight: bolder;
    /* font-size: xx-large;  */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
.card-title1{
    font-weight: bolder;
    /* font-size: xx-large;  */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    justify-content: center;
    text-align: center;
}
.card-text1{
    justify-content: center;
    text-align: center;
}
#arun300{
    justify-content: center;
    text-align: center;
}



